
.card {
  background-color: rgb(57, 165, 141);
  width: 250px;
  height: 350px;
  padding: 1rem;
  box-sizing: border-box;
  margin: 1rem;
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.monster-img {
  width: 70%;
  
}
